.task
  .task_detail
    %h1.task_title= @task.title
    - if user_signed_in? && current_user.has_written?(@task)
      .task_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_board_task_path(@task)
            = link_to '削除する', board_task_path(@task), data: { method: 'delete', confirm: '本当に削除してもいいですか？' }
  
  - if @task.eyecatch.attached?
    .task_image 
      = image_tag @task.eyecatch
  
  




